version: '3.8'

services:
  website:
    build: .
    ports:
      - "80:80"
    volumes:
      - .:/usr/share/nginx/html  # для разработки, чтобы изменения сразу применялись
    restart: unless-stopped
